*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scrollbar-width: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;

  &:disabled {
    //opacity: 0.6;
    cursor: not-allowed;
  }
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

*:focus {
  outline: none;
  outline-offset: unset;
}

picture {
  display: inline-block;
  line-height: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}