@use '@/assets/variables' as *;
@use '@/assets/buttons' as *;
@use '@/assets/mixins' as *;
@use '@/assets/media' as *;

@use 'sass:map';
@use 'sass:meta';

@layer reset {
  @include meta.load-css('@/assets/reset');
}

/* CSS переменные для легкой настройки темы */
/*:root {
  --bg-color: #f8f9fc;
  --container-bg: #ffffff;
  --text-color: #1f2937;
  --label-color: #4b5563;
  --border-color: #d1d5db;
  --border-focus-color: #4f46e5;

  --primary-hover-color: #4338ca;
  --code-bg: #f3f4f6;
  --code-color: #111827;
  --shadow-color: rgba(0, 0, 0, 0.05);


  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --success-color: #{$success-color};
  --warning-color: #{$warning-color};
  --danger-color: #{$danger-color};
  --info-color: #{$info-color};

  --radius-sm: #{$radius-sm};
  --radius-md: #{$radius-md};
  --radius-lg: #{$radius-lg};
}*/

// CSS Custom Properties для синхронизации с JS
:root {
  --sidebar-width: #{$sidebar-width};
  --sidebar-minimized-width: #{$sidebar-minimized-width};

  // Breakpoints - единый источник истины
  --breakpoint-xs: #{map.get($breakpoints, xs)};
  --breakpoint-sm: #{map.get($breakpoints, sm)};
  --breakpoint-md: #{map.get($breakpoints, md)};
  --breakpoint-lg: #{map.get($breakpoints, lg)};
  --breakpoint-xl: #{map.get($breakpoints, xl)};
  --breakpoint-xxl: #{map.get($breakpoints, xxl)};
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-track) var(--scrollbar-thumb);
  font-size: 16px;
  line-height: 1.6;
}

body {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-background);
  color: var(--body-text-color);
  container: body / inline-size;

  &, #app {
    min-height: 100vh;
  }
}

#app {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: calc(#{$container-width} + #{$container-padding-x} * 2);
  padding-inline: $container-padding-x;
  margin-inline: auto;
  container: container / inline-size;

  &--fluid {
    max-width: none;
  }
}

@media (max-width: calc(#{$container-width} + #{$container-padding-x} * 2 + #{$sidebar-width} * 2)) {
  header, main, footer {
    margin-inline-start: 0;
    transition: padding-inline-start 0.3s ease;
  }

  body:not(:has(.sidebar--mobile)) :where(header, main, footer) {
    margin-inline-start: calc(var(--sidebar-current-width) + 0px);
  }
}

::-webkit-scrollbar {
  width: 8px;

  &-track {
    background: var(--scrollbar-track);
    border-radius: 4px;
  }

  &-thumb {
    border-radius: 4px;

    &, &:hover {
      background: var(--scrollbar-thumb);
    }
  }
}
